%h3= @oven.name

.cookie-info
  Cookie in oven:
  %br
  - if @cookies.present?
    = show_cookies(@cookies)
    .status
      - if @sheet.ready?
        = render 'ovens/sheet.ready'
  - else
    None

%br

= link_to "Prepare Cookie", new_oven_sheet_path(@oven), class: 'button'
= javascript_include_tag "ovens/show"
