%h3#oven-name= @oven.name

#cookie-info
  Cookies in oven:
  %br
  - if @cookies.present?
    = show_cookies(@cookies)
    .status
      - if @sheet.ready?
        = render 'ovens/sheet.ready'
  - else
    None

%br

= link_to "Prepare Cookie", new_oven_sheet_path(@oven), class: 'button', id: 'prepare-button'
= javascript_include_tag "ovens/show"
