%h3= @oven.name

.cookie-info
  Cookie in oven:
  - if @oven.cookie
    1 cookie with #{show_cookie_filling(@oven.cookie)}
    .cookie-status
      - if @oven.cookie.ready?
        = render 'ovens/cookie.ready'
  - else
    None

%br

= link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button'
= javascript_include_tag "ovens/show"
